.item{
  display: flex;
  gap: 30px;
  align-items: center;
  font-weight: 700;

  >span{
    >svg{
      height: 35px;
      width: 35px;
    }
  }
}
.img{
  width: 50px;
  height: 50px;
}
.info{
  display: flex;
  align-items: center;
}
.names{
  display: flex;
  flex-direction: column;
  margin: 10px;

  >span:first-child{
    font-size: 16px;
  }

  >span:last-child{
    font-size: 12px;
    font-weight: 400;
  }
}