.list{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;

  >a{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  >div:first-child{
    background-color: #1677ff;
    color: white;
    font-weight: 700;
    padding: 15px 10px;
  }

  >a{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(20, 118, 255, .7);
  }
}